.print {
  background-color: #fff;
  color: #000;
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }

  /* Light Mode Styles */
  body {
    background: #fff;
    color: #000;
  }

  /* Dark Mode Styles */
  @media (prefers-color-scheme: dark) {
    body {
      background: #000;
      color: #fff;
    }
  }

  /* Support for Different Paper Sizes */
  @page [size='A4'] {
    size: A4;
  }
  @page [size='Letter'] {
    size: Letter;
  }
  @page [size='Legal'] {
    size: Legal;
  }
  @page [size='A3'] {
    size: A3;
  }
  @page [size='Tabloid'] {
    size: Tabloid;
  }
  @page [size='A5'] {
    size: A5;
  }
}